@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* Fonts */
.lettertype1 {
    font-family: "ABeeZee", sans-serif;
}

.lettertype2 {
    font-family: "Lilita One", sans-serif;
}

.lettertype3 {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #EEEEEE;
    padding: 20px;
    margin: 0 auto;
    height: auto;
    transition: background-color 0.3s;


}

/* Navigatie */
#flexnav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 18px;

}

.menu-toggle {
    display: none; /* Hide the actual checkbox */
}
.menu-toggle:checked + .menu-icon + ul {
    display: flex; /* Show the menu when the checkbox is checked */
}

.menu-icon {
    display: none; /* Hide the menu icon by default */
    font-size: 45px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's on top */
}

.menu-icon:hover {
    color: #5C9EAC;
}

nav {
    position: relative;

}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    z-index: 99;
    gap: 20px;
    margin: 0 auto;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #5C9EAC;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #5C9EAC;
    transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a::before {
    left: 50%;
}

nav ul li a::after {
    right: 50%;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    width: 100%;
    left: 0;
    right: 0;
}

#logoheader {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 3;
}

#flexnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto 0;
}


/* Toggle thema */
.toggle-theme {
    width: 80px;
    height: 40px;
    background-color: #326273;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;

}

.toggle-icon {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background-color 0.3s;
}

.toggle-icon i {
    font-size: 16px;
    color: #486284;
    transition: opacity 0.3s;
}

.toggle-theme .fa-sun,
.toggle-theme .fa-moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-theme .fa-sun {
    left: 7px;
    opacity: 1;
}

.toggle-theme .fa-moon {
    right: 7px;
    opacity: 0;
}

.toggle-theme.dark-mode {
    background-color: #444;
}

.toggle-icon.dark-mode {
    transform: translateX(40px);
    background-color: #fff;
}

.toggle-theme.dark-mode .fa-sun {
    opacity: 0;
}

.toggle-theme.dark-mode .fa-moon {
    opacity: 1;
}


/* Introductie */
.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 70px 0 0;
    flex-wrap: wrap;
}

#profielfoto {
    border-radius: 10px;
    max-width: 100%;
}

.intro-text {
    max-width: 570px;
}

h1 {
    font-size: 45px;
    font-weight: 600;
}

#tekst-intro {
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
}

/* Explore Button */
.photo-container {
    position: relative;
    display: inline-block;
}

.explore-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-button button {
    font-size: 27px;
    font-weight: 500;
    width: 186px;
    border-radius: 20px;
    background-color: #326273;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: -30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.explore-button button:hover {
    background-color: #5C9EAC;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.explore-button button:active {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Main */
main {
    padding: 20px;
}


/* Typing effect container */
.content-container {
    position: relative;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

.projects {
    font-size: 2rem;
    font-weight: 400;
    z-index: 2;
    position: relative;
    color: white;
    padding: 20px 0;
}

#vorm2 {
    width: 100%;
    max-width: 1100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 40px auto;
}


.containerBlokken {
    display: block;

}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.nav-link {
    margin: 0 15px;
    font-size: 35px;
    text-decoration: none;
    color: black;
    position: relative;
    transition: color 0.5s ease;
}

.nav-link:hover {
    color: #5C9EAC;
}

.nav-link::before,
.nav-link::after {
    position: absolute;
    background: #326273;
    transition: all 0.5s ease;
}

.nav-link::before {
    left: 50%;
    bottom: -5px;
}

.nav-link::after {
    right: 50%;
    bottom: -5px;
}

.nav-link:hover::before,
.nav-link:hover::after {
    width: 100%;
    left: 0;
    right: 0;
}

/* Blokken */
.background {
    background-color: #eeeeee;
    margin: 0;
    border-radius: 10px;
}

.blok {
    margin: 100px 0;
    text-align: left;
    padding: 40px;
}

.titelBlok {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #326273;
}

.title-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #326273;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: -1;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

/* Portfolio Item Styles */

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.text-content {
    max-width: 60%;
    flex: 1;
    transition: transform 0.3s ease-in-out;
}

.text-content .description {
    color: #bdbdbd;
    line-height: 25px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.content:hover .text-content .description {
    color: #000;
}

.content img {
    width: 300px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.content:hover img {
    transform: scale(1.05);
}

button {
    padding: 10px 20px;
    background-color: #5C9EAC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FCC11B;
}

.titelKopjes {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.photo {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.photo img.active {
    opacity: 1;
}

.image-left {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

/* Skills bar */
.skills-banner {
    position: relative;
    background: linear-gradient(45deg, #5C9EAC, #89a788, #FCC11E);
    padding: 50px 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.skills-text h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 20px;
}

.skills-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill-tag {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: #5C9EAC;
    border: 2px solid #5C9EAC;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skill-tag:hover {
    background-color: #FCC11B;
    color: white;
}

/* Statistieken container */
.stats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    margin-top: 60px;
}

.stat-card {
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.stat-card h4 {
    font-size: 36px;
    color: #486284;
    margin: 0 0 10px;
}

.stat-card p {
    font-size: 14px;
    color: #486284;
    margin: 0;
}

.stat-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.stat-arrow {
    font-size: 36px;
    color: #486284;
    cursor: pointer;
    transition: all 0.3s ease;
}

.stat-arrow:hover {
    color: #326273;
    transform: translateX(5px);
}

/* Meningen */
.testimonials {
    text-align: center;
    padding: 40px 20px;
}

.testimonials h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.testimonial {
    display: inline-block;
    width: 40%;
    margin: 10px 30px;
    vertical-align: top;
    position: relative;
    padding: 30px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.testimonial:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.testimonial p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.titelRecentie {
    display: block;
    margin-top: 10px;
    font-weight: 700;
}

.line {
    height: 5px;
    width: 100px;
    background: transparent;
    transition: background 0.3s ease;
}

.testimonial .top-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial .bottom-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial:hover .top-line {
    background: #f7c744;
}

.testimonial:nth-child(2):hover .top-line {
    background: #79a7d3;
}

.testimonial:nth-child(3):hover .top-line {
    background: #4c5b61;
}

.testimonial:hover .bottom-line {
    background: #f7c744;
}

.testimonial:nth-child(2):hover .bottom-line {
    background: #79a7d3;
}

.testimonial:nth-child(3):hover .bottom-line {
    background: #4c5b61;
}

.testimonial-item {
    transition: filter 0.3s ease;
}

.testimonial-item:hover {
    filter: none;
}

.testimonials:hover .testimonial-item {
    filter: blur(2px);
}

.testimonials .testimonial-item:hover {
    filter: none;
}

.page-container {
    margin-top: 30px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titelAVD {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.video-section {
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.video-player {
    position: relative;
    background-color: #e9ecef;
    padding: 60px 60px 80px 60px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

#video-player {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.video-player iframe {
    border: none;
    border-radius: 10px;
}

.video-controls {
    position: absolute;
    bottom: 20px;
    right: 68px;
    display: flex;
    gap: 10px;
}

.video-button {
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #486284;
}

.video-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.video-button {
    background-color: #486284;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.colorButton {
    background-color: #486284;
}


/* Vorm */
#vormLaatste {
    width: 100%;
    max-width: 1100px;
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 120px;
}

.titelSamenwerken {
    font-size: 30px;
    font-weight: 400;
    z-index: 2;
    position: relative;
    color: white;
    margin: 0 auto;
    text-align: center;
    top: 120px;

}

/* Footer */
.footer-container {
    margin: 0 auto 50px;
    background-color: white;
    border: 3px solid #486284;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 1220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logoheader1 {
    width: 200px;
    margin-top: 20px;
    
}

.flexbox3 {
    display: flex;
    justify-content: center;
}

/* Datum en tijd */
.contact-section {
    width: 100%;
    background-color: #EEEEEE;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}
.lettertypegroter{
    font-size: 20px;
    margin-bottom: 20px;
}
/* Het detail venster */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.titelDetail {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #326273;
}

.beschrijvingDetail {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: black;
}

.beschrijvingDetail a {
    color: black;
    text-decoration: none;
}

.beschrijvingDetail a:visited {
    color: black;
}

.beschrijvingDetail a:hover {
    color: #FCC11B;
    text-decoration: underline;
    /* Onderstreping bij zweven */
}

.beschrijvingDetail a:active {
    color: darkblue;
    /* Kleur bij klikken */
}



/* Photo gallery styling */
.foto-galerij {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 25px 0 25px 0;
    justify-content: center;
}

.foto-galerij img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.foto-galerij img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

img#coodle {
    max-width: 350px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Ensure the arrows are hidden behind the modal content */
.flatpickr-calendar .flatpickr-next-month,
.flatpickr-calendar .flatpickr-prev-month {
    position: absolute;
    z-index: 1;
}


/* Responsive Design - 1024px */
@media (max-width: 1024px) {
    .blok1 {
        padding: 20px;
    }

    .titelBlok {
        font-size: 45px;
    }

    .text-content {
        max-width: 100%;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .content .text-content {
        margin-bottom: 20px;
    }

    .photo,
    .image-left {
        width: 100%;
        max-width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    .skills-banner {
        max-width: 80%;
        margin: 0 auto;
        padding: 40px 20px;
    }

    .content img {
        width: 100%;
        height: auto;
        margin: 0 auto 20px;
    }

    .titelSamenwerken {
        font-size: 25px;
        top: 90px;

    }

    #vormLaatste {
        max-width: 800px;
    }

}

/* Responsive Design - 990px */
@media (max-width: 980px) {
    .menu-icon {
        display: block;
        margin-top: -20px;
    }

    nav ul{
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #f0f0f0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 2;
        transform: translateX(0)
    }

    nav ul li {
        padding: 10px 20px;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .menu-toggle:checked+.menu-icon+nav ul {
        display: flex;
    }

    #logoheader {
        position: absolute;
        top: 0;
        left: 20px;
        z-index: 99;
    }


    .introduction {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    .photo-container {
        margin-bottom: 20px;
    }

    .explore-button {
        position: static;
        margin-top: 10px;
    }

    /* main */
    .projects {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    #vorm2 {
        max-width: 800px;
    }

    .blok {
        padding: 20px;
    }

    .titelBlok {
        font-size: 35px;
    }

    .text-content {
        max-width: 100%;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .content .text-content {
        margin-bottom: 20px;
    }
}


/* Responsive Design - 768px */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        margin-top: -20px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #f0f0f0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    nav ul li {
        padding: 10px 20px;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .menu-toggle:checked+.menu-icon+nav ul {
        display: flex;
    }

    #logoheader {
        position: absolute;
        top: 0;
        left: 20px;
        z-index: 99;
        width: 150px;
    }

    .introduction {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        /* Add extra margin for spacing */
    }

    .photo-container {
        margin-bottom: 20px;
        /* Add margin below the photo container */
    }

    .explore-button {
        position: static;
        /* Make the button flow with the document */
        margin-top: 10px;
        /* Add margin above the button */
    }

    h1 {
        font-size: 36px;
    }

    /* main */
    .nav-link {
        font-size: 32px;

    }

    .projects {
        font-size: 1.1rem;
        /* Adjust font size for smaller screens */
        padding: 10px 0;
    }

    #vorm2 {
        max-width: 800px;
        /* Increase size for smaller screens */
        margin-top: 10px;
    }

    .blok {
        padding: 20px;
    }

    .titelBlok {
        font-size: 30px;
    }

    .text-content {
        max-width: 100%;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .content .text-content {
        margin-bottom: 20px;
    }

    .photo,
    .image-left {
        width: 100%;
        max-width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    .skills-banner {
        max-width: 80%;
        margin: 0 auto;
        padding: 40px 20px;
    }

    .skills-tags {
        gap: 5px;
    }

    .stats-container {
        flex-direction: column;
        gap: 20px;
    }

    .stat-card {
        padding: 20px;
    }

    .testimonials h2 {
        font-size: 26px;
    }

    .testimonial {
        width: 80%;
        margin: 10px 0;
    }

    .testimonial p {
        font-size: 14px;
    }

    .titelAVD {
        font-size: 26px;

    }

    .page-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .titelAVD {
        font-size: 30px;
    }

    .video-section {
        max-width: 100%;
        padding: 10px;
    }

    .video-player {
        padding: 20px;
    }

    .video-controls {
        position: relative;
        bottom: initial;
        right: initial;
        justify-content: center;
    }

    .video-button {
        padding: 10px 15px;
        font-size: 12px;
    }

    .titelSamenwerken {
        font-size: 18px;

    }

    #vormLaatste {
        max-width: 450px;
        margin-top: 80px;

    }

    .modal-content {
        width: 90%;
        padding: 15px;
    }

    .close {
        font-size: 24px;
    }

    .titelDetail {
        font-size: 24px;
    }

    .beschrijvingDetail {
        font-size: 14px;
    }

    /* Footer */
    .contact-section {
        flex-direction: column;
        padding: 40px;
    }

}

/* Responsive Design - 480px */
@media (max-width: 480px) {
    .menu-icon {
        display: block;
        z-index: 1000;
    }

    /* Navigation */
    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        position: fixed;
        top: 20px;
        right: 0;
        background-color: #f0f0f0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    nav ul li {
        padding: 10px 20px;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .toggle-theme {
        width: 70px;
        height: 30px;
    }

    .menu-toggle:checked+.menu-icon+ul {
        display: flex;
    }

    #logoheader {
        position: absolute;
        top: 0;
        left: 20px;
        z-index: 3;
        width: 100px;
    }

    /* Introduction */
    .introduction {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        /* Add extra margin for spacing */
    }

    .photo-container {
        margin-bottom: 20px;
        /* Add margin below the photo container */
    }

    .explore-button {
        position: static;
        /* Make the button flow with the document */
        margin-top: 10px;
        /* Add margin above the button */
    }

    /* main */
    .projects {
        font-size: 1rem;
        /* Adjust font size for the smallest screens */
        padding: 5px 0;
    }

    #vorm2 {
        max-width: 700px;
        /* Increase size for the smallest screens */
        margin-top: 10px;

    }

    .testimonials h2 {
        font-size: 24px;
    }

    .titelAVD {
        font-size: 24px;

    }

    .titelSamenwerken {
        font-size: 17px;
    }

    #vormLaatste {
        max-width: 350px;
        margin-top: 80px;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        margin: 20px 0
    }

    .nav-link {
        font-size: 30px;
    }

    .nav-link span {
        display: block;
        text-align: center;
    }


    .blok {
        padding: 20px;
    }

    .titelBlok {
        font-size: 25px;
    }

    .text-content {
        max-width: 90%;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .content .text-content {
        margin-bottom: 20px;
    }

    .photo,
    .image-left {
        width: 90%;
        max-width: 250px;
        height: 150px;
        margin: 0 auto;
    }

    /* Skills bar */
    .skills-banner {
        max-width: 80%;
        margin: 0 auto;
        padding: 40px 20px;
    }

    .skills-tags {
        gap: 5px;
    }

    .skills-text h2 {
        font-size: 22px;
    }

    .stats-container {
        flex-direction: column;
        gap: 20px;
    }

    .stat-card {
        padding: 20px;
    }

    .testimonials h2 {
        font-size: 26px;
    }

    .testimonial {
        width: 80%;
        margin: 10px 0;
    }

    .testimonial p {
        font-size: 14px;
    }

    /* Video */
    .titelAVD {
        font-size: 26px;

    }

    .video-player {
        padding: 10px 10px 20px 10px;
        margin: 0 auto;
    }

    .page-container {
        padding: 10px;

    }

    .titelAVD {
        font-size: 24px;
    }

    .video-section {
        padding: 5px;
    }

    .video-player {
        padding: 15px;
        margin: 0 auto;
    }

    .video-button {
        padding: 8px 12px;
        font-size: 10px;
    }

    .video-buttons {
        gap: 5px;
    }


    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .close {
        font-size: 20px;
    }

    .titelDetail {
        font-size: 20px;
    }

    .beschrijvingDetail {
        font-size: 12px;
    }

    /* Footer */
    .contact-section {
        flex-direction: column;
        padding: 30px;
    }

}


/* Responsive Design - 320px */
@media (max-width: 320px) {

    /* Navigation */
    .menu-icon {
        display: block;
        z-index: 1000;
    }


    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #f0f0f0;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 999;

    }

    nav ul li {
        padding: 10px 20px;
        text-align: center;
    }

    nav ul li a {
        display: block;
    }

    .toggle-theme {
        width: 70px;
        height: 30px;
    }

    .menu-toggle:checked+.menu-icon+ul {
        display: flex;
    }

    #logoheader {
        position: absolute;
        top: 0;
        left: 20px;
        width: 100px;
        z-index: 3;
    }

    .introduction {
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        /* Add extra margin for spacing */
    }

    .photo-container {
        margin-bottom: 20px;
        /* Add margin below the photo container */
    }

    .explore-button {
        position: static;
        /* Make the button flow with the document */
        margin-top: 10px;
        /* Add margin above the button */
    }

    /* main */
    .projects {
        font-size: 0.8rem;
        /* Adjust font size for the smallest screens */
        padding: 5px 0;
    }

    #vorm2 {
        max-width: 700px;
        /* Increase size for the smallest screens */
        margin-top: 10px;

    }

    .modal-content {
        width: 85%;
    }

    .video-player {
        padding: 9px 9px 20px 9px;
    }

    /* Footer */

    .contact-section {
        flex-direction: column;
        padding: 20px;
    }
}

/* Dark Theme */

nav ul li .dark-mode {
    color: #8ABBD8;
}

nav ul li a.dark-mode:hover {
    color: #FFA726;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

header.dark-mode {
    background-color: #444;
}

nav.dark-mode ul li a {
    color: #fff;
}

nav.dark-mode ul li a:hover {
    color: #FFA726;
}

nav.dark-mode ul li a::before,
nav.dark-mode ul li a::after {
    background-color: #FFA726;
}

.photo-container img.dark-mode {
    filter: brightness(0.8);
}

.intro-text.dark-mode {
    color: #eee;
}

.content-container h3.dark-mode {
    color: white;
}

.nav-link.dark-mode {
    color: #fff;
}

.nav-link.dark-mode:hover {
    color: #FFA726;
}

.navigation.dark-mode a::before,
.navigation.dark-mode a::after {
    background-color: #FFA726;
}

.background.dark-mode {
    background-color: #555;
}

.blok.dark-mode h2 {
    color: #8ABBD8;
}

.blok.dark-mode .content {
    background-color: #666;
    color: #fff;
}

.blok.dark-mode .content h3 {
    color: #FFA726;
}

.blok.dark-mode .content p {
    color: #eee;
}

.blok.dark-mode .content img {
    filter: brightness(0.8);
}

.skills-banner.dark-mode {
    background: linear-gradient(45deg, #444, #555, #666);
}

.skills-banner.dark-mode h2 {
    color: #FFA726;
}

.skills-tags.dark-mode .skill-tag {
    background-color: #666;
    border: 2px solid #FFA726;
    color: #FFA726;
}

.skills-tags.dark-mode .skill-tag:hover {
    background-color: #FFA726;
    color: #444;
}

.stats-container.dark-mode {
    background-color: #555;
    color: #FFFFFF;
}

.stat-card h4 {
    color: #8ABBD8;
}

.stat-card p {
    color: #8ABBD8;
}

.stat-card.dark-mode {
    background-color: #666;
}

.stat-arrow.dark-mode {
    color: #FFA726;
}

.testimonials.dark-mode {
    background-color: #555;
    color: #fff;
}

.testimonials.dark-mode h2 {
    color: #FFA726;
}

.testimonial.dark-mode {
    background-color: #666;
}

.testimonial.dark-mode p {
    color: #eee;
}

.testimonial.dark-mode .titelRecentie {
    color: #FFA726;
}

.page-container.dark-mode {
    background-color: #555;
}

.video-section.dark-mode h2 {
    color: #FFA726;
}

.video-player.dark-mode {
    background-color: #666;
}

.video-player.dark-mode iframe {
    filter: brightness(0.8);
}

.video-controls.dark-mode .control-button {
    background-color: #FFA726;
    color: #444;
}

.video-controls.dark-mode .control-button:hover {
    background-color: #FFA726;
}

.video-buttons.dark-mode .video-button {
    background-color: #FFA726;
    color: #444;
}

.video-buttons.dark-mode .video-button:hover {
    background-color: #FCC11E;
}

.footer-container.dark-mode {
    background-color: #444;
    border: 3px solid #FFA726;
}

.footer-content.dark-mode {
    color: #fff;
}

.contact-section.dark-mode {
    background-color: #555;
}

.contact-section.dark-mode h6 {
    color: #FFA726;
}

.contact-section.dark-mode h5 {
    color: #FFA726;
}

.contact-section.dark-mode p {
    color: #eee;
}

.contact-section.dark-mode label {
    color: #FCC11E;
}

.contact-section.dark-mode input {
    background-color: #666;
    border: 1px solid #8ABBD8;
    color: #FCC11E;
}

.contact-section.dark-mode .book-button {
    background-color: #8ABBD8;
    color: #444;
}

.contact-section.dark-mode .book-button:hover {
    background-color: #FCC11E;
}

.flatpickr-calendar.dark-mode {
    background-color: #666;
}

.flatpickr-months.dark-mode {
    background-color: #777;
}

.flatpickr-day.dark-mode {
    color: #444;
}

.flatpickr-day.selected.dark-mode,
.flatpickr-day.startRange.dark-mode,
.flatpickr-day.endRange.dark-mode,
.flatpickr-day:focus.dark-mode,
.flatpickr-day:hover.dark-mode {
    background-color: #8ABBD8;
    color: #444;
}